html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  color: #314584;
}
body .--scroll-hiden {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 {
  font-size: 3rem;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
  margin: 0;
  padding: 0;
}
header {
  padding: 10px 0;
}
.outer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1694px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}
header .main-container {
  display: none;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options__language {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #314584;
  padding-right: 10px;
  margin-right: 20px;
}
.options__language::after {
  content: "";
  position: absolute;
  background-image: url("../assets/icons/arrow-down.svg");
  right: 0;
  bottom: 6px;
  width: 8px;
  height: 5px;
}
.options__contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 23px 21px 33px;
  box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);
  min-width: 201px;
  height: 61px;
  border-radius: 5px;
  color: #ff3946;
  transition: all 0.3s;
}
.options__contact-us img {
  margin-left: 17px;
}
.options__contact-us:hover {
  transform: translateY(-10%);
  box-shadow: 0px 10px 15px 0px rgba(25, 45, 51, 0.15);
}
.options__contact-us:active {
  transform: translateY(0%);
  box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);
}
.navigation__li {
  transition: all 0.3s;
}
.navigation__li:hover {
  color: #ff3946;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 2;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 0.3s;
}
.burger-menu.--active {
  pointer-events: all;
  transform: translateX(0);
}
.burger-menu__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.3s;
}
.burger-menu__close-btn:hover {
  transform: rotate(90deg);
}
.burger-menu__ul {
  text-align: center;
}
.burger-menu__li {
  margin-top: 20px;
}
main .outer-container {
  padding: 47px 0;
}
.spirit__header {
  /* font-size: 7.3481rem; */
  max-width: 535px;
  font-size: 3.9rem;
  line-height: 1.3;
  margin-bottom: 45px;
}
.spirit__text {
  max-width: 555px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.667;
  color: #6e757a;
  margin-bottom: 37px;
}
.spirit__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 358px;
}
.spirit__link {
  display: inline-block;
  font-size: 1.8rem;
}
.spirit__link + .spirit__link {
  margin: 20px 0 22px 10px;
}
.spirit__link.--active {
  border-radius: 100px;
  color: #FFFFFF;
  background-color: #ff3946;
  padding: 20px 34px 22px 35px;
  transition: all .3s;
}
.spirit__link.--active:hover {
  color: #FFFFFF;
  background-color: #314584;
}
.portfolio__header {
  max-width: 370px;
  margin-bottom: 28px;
}
.portfolio__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(290px, 371px));
  grid-auto-rows: 281px;
  column-gap: 28px;
  row-gap: 31px;
  margin-bottom: 20px;
}
.portfolio__card {
  background-color: #c3d0d8;
}
.portfolio__link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__link {
  font-size: 1.8rem;
  color: #ff3946;
  transition: all .3s;
}
.portfolio__link:hover {
  color: #314584;
}